name: Run Unit Test via Pytest

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    environment: pytest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |  
          python -m pip install --upgrade pip  
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements.test.txt ]; then pip install -r requirements.test.txt; fi
      - name: set git default branch to main
        run: |
          git config --global init.defaultBranch main
      - name: Lint with Ruff
        run: |  
          pip install flake8  
          flake8 sf_git
        continue-on-error: true
      - name: Test with pytest
        run: |  
          coverage run -m pytest tests -v -s
      - name: Generate Coverage Report
        run: |  
          coverage report -m
      - name: Upload coverage data
        uses: actions/upload-artifact@v3
        with:
          name: "coverage-data"
          path: .coverage.*
          if-no-files-found: ignore
      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Create badge
        uses: schneegans/dynamic-badges-action@v1.6.0
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gistID: e2c293d7db07bee70d2845387cb133ff
          filename: sf_git_${{ steps.extract_branch.outputs.branch }}.json
          label: Coverage
          message: ${{ env.total }}%
          minColorRange: 50
          maxColorRange: 90
          valColorRange: ${{ env.total }}