name: Run Unit Test via Pytest

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |  
          python -m pip install --upgrade pip  
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements.test.txt ]; then pip install -r requirements.test.txt; fi
      - name: Lint with Ruff
        run: |  
          pip install flake8  
          flake8 sf_git
        continue-on-error: true
      - name: Test with pytest
        run: |  
          coverage run -m pytest tests -v -s
      - name: Generate Coverage Report
        run: |  
          coverage report -m
